button{
    padding: 0.3rem;
    width: 100%;
    max-width: 20.0rem;
    min-height: 4.8rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.celeste{
    background-color: #13C8EC;
    color: #FFFFFF;
    &:hover{
        background-color: #1c889e;
    }
}

.blanco {
    background-color: #FFFFFF;
    color: #111827;
    &:hover{
        background-color: #b4b4b4;
    }
}